<div class="row justify-content-center" id="challenge-area">
    <h2 id="challenge-title">Challenge of the day</h2>
    <hr>
    <div class="row" id="challenge-info">
        <h4 id="daily-challenge">{{challengeOfTheDay}}</h4>
        <label class="container">Complete <input type="checkbox"> <span class="checkmark"></span></label>
        <div id="image-challenge-area">
        <img id="image-challenge" src="{{imageChallenge}}">
        </div>
    </div>
</div>

