
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="{{id}}">
        {{title}}
        </button>
      </h2>
    </div>

    <div id="{{id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {{> milestones}}
      </div>
    </div>
  </div>
  