<button type="button" id="add-milestone-button" class="btn btn-outline-dark" data-toggle="modal"
    data-target="#milestoneModal" data-whatever="milestone">Add a Milestone</button>
{{> add-milestone-modal}}