<nav id="nav-dash" class="navbar navbar-dark d-flex justify-content-end"><img id="nav-img" src="/public/images/nav.png">
  {{!-- LOGO --}}
  <img id="nav-logo" style="display: inline" src="../../public/images/set-logo.png" alt="set">
</nav>