<nav id="nav-dash" class="navbar navbar-dark d-flex justify-content-end">
    {{!-- LOGO --}}
  
<img id="nav-logo" style="display: inline" src="../../public/images/set-logo.png" alt="set">
<ul class="nav d-flex justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/google">Sign in with Google</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Log out</a>
  </li>
<!-- Page Content -->

</div>
</ul>
</nav>
