<nav id="nav-dash" class="navbar navbar-dark d-flex justify-content-end">
  {{!-- LOGO --}}
  <img id="nav-logo" style="display: inline" src="../../public/images/set-logo.png" alt="set">

  <ul class="nav d-flex justify-content-end" id="nav-link">
    <li class="nav-item">
      <a class="nav-link active" href="/google">Sign in with Google</a>
    </li>
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>


    <div class="w3">
      <button class="w3-button w3-xlarge" onclick="w3_open()">☰</button>
      <div class="w3-container">
      </div>
    </div>
  </ul>


</nav>