<div class="container-fluid">
  {{!-- Welcome row --}}
  <div class="row">
    <h1 id="welcome-sign">Welcome</h1> <span></span>
    <h2 id="username-sign">{{user.name}}</h2>
  </div>
  {{!-- /Welcome row --}}

  {{!-- Content row --}}
  <div class="row">

    {{!-- ADD A GOAL BUTTON --}}

    <div class="add-new-goal">
      <button type="button" id="add-goal-button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal"
        data-whatever="goal">Add a goal</button>

      {{> add-goal-modal}}

      {{!-- Goals column --}}
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          {{#each goals}}
            {{> goal-accordion}}
          {{/each}}
        </div>
      </div>
      {{!-- /Goals column --}}

      {{!-- Challenge of the day --}}
      <div class="col-lg-4">
        {{> challenge}}
      </div>
      {{!-- /Challenge of the day --}}

    </div>

    {{!-- /Container div --}}
  </div>
