{{> nav}}
<div class="parallax">
  <div class="container-fluid">
    <div class="row justify-content-center" id="first-background">
      <div id="first-section">
        <!-- LOGO -->
        <div class="row justify-content-center center" id="logo-area-index">
          <img src="../public/images/set-logo.png" alt="Set logo" width="380px;" height="150px;" id="logo">
        </div>
      </div>
      <div>
      <div class="row col-8 justify-content-center center" id="second-background">
        <h3><strong>Ready? SET... Goal!</strong></h3>
        <p id="set-description">SET gives you the opportunity to chase and accomplish short and long term goals. SET is a goal tracker that will help you manage the journey to your dreams. With our Premium features, consistency and motivation will keep you on track to complete all your New Year’s and every day resolutions.</p>
      </div>
    </div>
    </div>
  <div class="row" id="third-background">
    {{!-- <div class="row mx-auto">
    </div> --}}
    <div class="row justify-content-center">
      <div class="col-2 one">
        <img id="house" src="../public/images/house.png">
        <p class="justify text-center"><strong>Buy a house</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 two">
        <img id="money" src="../public/images/money.png">
        <p class="justify text-center"><strong>Save money</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 three">
        <img id="plane" src="../public/images/plane.png">
        <p class="justify text-center"><strong>Plan a trip</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 four">
        <img id="weight" src="../public/images/weight.png">
        <p class="justify text-center"><strong>Lose weight</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pricing-info" id="fourth-background">
    <div class="row justify-content-center center prices" style="height: 45rem;">
      <div class="col-3 text-center" class id="basic-account-area">
        <h1 id="basic">Basic Account</h1>
        <h3 id="basic-account">Free</h3>
        <div class="row justify-content-left text-left description">
          <ul id="list">
            <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
            <li><img id="x" src="../public/images/x.png">Up to 5 goals</li>
            <li><img id="x" src="../public/images/x.png">blah</li>
            <li><img id="x" src="../public/images/x.png">Up to 5 goals</li>
            <li><img id="x" src="../public/images/x.png">blah</li>
            
          </ul>
            <button type="button" class="btn btn-primary btn-lg" id="google-button-index" href="/google">
              <img src="../public/images/googleIcon.png" style="float:left;width:2.5em; height:2.5em; margin:0.2em 0.2em 0.2em -0.5em">
              <a class="nav-link active" href="/google">Sign in with Google</a>
            </button>
        </div>
        
      </div>

      <div class="col-3 text-center" class id="premium-account-area">
        <h1 id="premium">Premium Account</h1>
        <h3 id="premium-account">$25 a Year</h3>
        <div class="row justify-content-left text-left description">
          <ul id="list">
            <li><img id="checkmark" src="../public/images/checkmark.png"> goals</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
            <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
          </ul>
          <button type="button" class="btn btn-warning btn-lg" id="paypal-button-index" action="/pay" method="post">
          
            <img src="../public/images/paypalIcon.png" style="float:left;width:2em; height:2em; margin-right:0.3em; margin-top:0.55em">
            {{!-- <a class="nav-link active" action="/pay" method="post" input type="submit">Pay with PayPal</a> --}}
            <form class="nav-link active paypal-form" action="/pay" method="post">
            <input type="submit" value="Pay with PayPal" id="paypal-input" class="paypal-form">
            </form>
            
          </button>
        </div>
      </div>
    
    </div>
  </div>
</div>
<!-- footer -->
<footer id="footer-index">
  <div class="w-100 p-3 h-50 d-inline-block" id="social-media-links">
    <a href="https://github.com/talktopri/project2" target="blank"><i class="fab fa-github-square"></i></a>
    <a href="https://facebook.com/" target="blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://instagram.com/" target="blank"><i class="fab fa-instagram"></i> </a>
    <span id="copyright">copyright&copy; Set 2019 </span>
    <div id="about-terms"><a href="" target="blank">About us </a> | <a href="" target="blank"> Terms and conditions
      </a></span> </div>
  </div>
</footer>