 {{> nav}}
<div class="container-fluid">
  <div class="row justify-content-center" id="first-background">
    <div class="login-section" style="height: 50rem;">
      <!-- LOGO -->
      <div class="row justify-content-center center" id="logo-one">
        <img src="../public/images/set-logo.png" alt="Set logo" width="380px;" height="150px;" id="logo">
      </div>
    </div>

    <div>
      <div class="row col-8 justify-content-center center" id="second-background">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ut quis ex quae itaque eum explicabo
          reiciendis velit odit minus officiis vero, nemo quidem expedita, rerum nisi fuga nihil iure.</p>
      </div>
    </div>
  </div>
  <div class="row" id="third-background">
    {{!-- <div class="row mx-auto">
    </div> --}}
    <div class="row justify-content-center">
      <div class="col-2 one">
        <img id="house" src="../public/images/house.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 two">
            <img id="money" src="../public/images/money.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 three">
          <img id="plane" src="../public/images/plane.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 four">
            <img id="weight" src="../public/images/weight.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pricing-info" id="fourth-background">
    <div class="row justify-content-center center prices" style="height: 45rem;">
      <div class="col-3 text-center" class id="basic-account-area">
          <h1 id="basic">Basic Account</h1>
          <h3 id="basic-account">Free</h3>
        <div class="row justify-content-left text-left description">   
        <ul id="list">
          <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
          <li><img id="x" src="../public/images/x.png">Up to 5 goals</li>
          <li><img id="x" src="../public/images/x.png">blah</li>
          <li><img id="x" src="../public/images/x.png">Up to 5 goals</li>
          <li><img id="x" src="../public/images/x.png">blah</li>
        </ul>
        </div>
      </div>

      <div class="col-3 text-center" class id="premium-account-area">
          <h1 id="premium">Premium Account</h1>
          <h3 id="premium-account">$25 a Year</h3>
        <div class="row justify-content-left text-left description">   
        <ul id="list">
          <li><img id="checkmark" src="../public/images/checkmark.png"> goals</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">Up to 5 goals</li>
          <li><img id="checkmark" src="../public/images/checkmark.png">blah</li>
        </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- footer -->
<footer id="footer-index">
  <div class="w-100 p-3 h-50 d-inline-block" id="social-media-links">
    <a href="https://github.com/talktopri/project2" target="blank"><i class="fab fa-github-square"></i></a>
    <a href="https://facebook.com/" target="blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://instagram.com/" target="blank"><i class="fab fa-instagram"></i> </a>
    <span id="copyright">copyright&copy; Set 2019 </span>
    <div id="about-terms"><a href="" target="blank">About us </a> | <a href="" target="blank"> Terms and conditions
      </a></span> </div>
  </div>
</footer>