<div class="container-fluid">
  <div class="row justify-content-center" id="first-background">
    <div class="login-section" style="height: 50rem;">
      <!-- LOGO -->
      <div class="row justify-content-center center" id="logo-one">
        <img src="assets/image/set-logo.png" alt="Set logo" width="380px;" height="150px;" id="logo">
      </div>
    </div>

    <div>
      <div class="row col-8 justify-content-center center" id="second-background">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ut quis ex quae itaque eum explicabo
          reiciendis velit odit minus officiis vero, nemo quidem expedita, rerum nisi fuga nihil iure.</p>
      </div>
    </div>
  </div>
  <div class="row" id="third-background">
    <div class="row mx-auto">
    </div>
    <div class="row justify-content-center">
      <div class="col-2 one">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 two">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 three">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-2 four">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pricing-info" id="fourth-background">
    <div class="row justify-content-center center prices" style="height: 45rem;">
      <div class="col-3 text-center" class id="basic-account-info">
        <div class="row justify-content-center center price-heading">
          <h1 id="basic">Free </h1>
          <h3 id="basic-account">Basic Account</h3>
        </div>3
        <ul style="list-style-type: none; margin-top: 10px;">
          <li>Up to 5 goals</li>
          <li>blah</li>
          <li>Up to 5 goals</li>
          <li>blah</li>
          <li>Up to 5 goals</li>
          <li>blah</li>
        </ul>
      </div>

      <div class="col-3 text-center" id="premium-account-area">
        <div class="row justify-content-center center price-heading">
          <h1 id="premium">$5</h1>
          <h3 id="premium-vertical">month</h3>
          <h3 id="premium-account">Premium Account</h3>
        </div>
        <ul style="list-style-type: none;  margin-top: 10px;">
          <li>Unlimited goals</li>
          <li>blah</li>
          <li>goals</li>
          <li>blah</li>
          <li>goals</li>
          <li>blah</li>
        </ul>
      </div>
      <div class="col-3 text-center" id="deluxe-account-area">
        <div class="row justify-content-center center price-heading">
          <h1 id="deluxe">$25</h1>
          <h3 id="deluxe-vertical">Year</h3>
          <h3 id="deluxe-account">Deluxe Account</h3>
        </div>
        <ul style="list-style-type: none;  margin-top: 10px;">
          <li>Unlimited goals</li>
          <li>blah</li>
          <li>goals</li>
          <li>blah</li>
          <li>goals</li>
          <li>blah</li>
        </ul>
      </div>
    </div>
  </div>



  <!-- footer -->
  <footer id="footer"> copyright&copy; Set 2019 </footer>
