<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="login-section" style="height: 20rem;">
      <!-- IMG TAG FOR LOGO GOES HERE -->
    </div>
  </div>
  <div class="row" style="background-color: darkgrey;">
    <div class="row mx-auto">
      <h3> What is SET? </h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
      <div class="col-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint ipsa, aperiam culpa iure,
          aspernatur maxime minima doloremque illum suscipit possimus aliquam quisquam porro. Sapiente ad
          laborum reiciendis voluptate quibusdam.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pricing-info" style="background-color: gainsboro;">
    <div class="col-2 text-center" class id="free-account-info" style="background-color: red;">
      <h2>Free Account</h2>
      <ul style="list-style-type: none;">
        <li>Up to 5 goals</li>
        <li>blah</li>
        <li>Up to 5 goals</li>
        <li>blah</li>
        <li>Up to 5 goals</li>
        <li>blah</li>
      </ul>
    </div>

    <div class="col-2 text-center" id="paid-account-area" style="background-color: blue;">
      <h2>$ a month</h2>
      <ul style="list-style-type: none;">
        <li>Unlimited goals</li>
        <li>blah</li>
        <li>goals</li>
        <li>blah</li>
        <li>goals</li>
        <li>blah</li>
      </ul>
    </div>
    <div class="col-2 text-center" id="paid-account-area" style="background-color: green;">
      <h2>$ a month</h2>
      <ul style="list-style-type: none;">
        <li>Unlimited goals</li>
        <li>blah</li>
        <li>goals</li>
        <li>blah</li>
        <li>goals</li>
        <li>blah</li>
      </ul>
    </div>
  </div>
</div>


<!-- footer -->
<footer id="footer"> copyright&copy; Set 2019 </footer>