{{> nav-success}}
<div class="container-fluid">
    <div class="row justify-content-center center-success" id="first-background-success">
        <div class="login-section" style="height: 50rem;">
            <!-- LOGO -->
            <div class="row justify-content-center center" id="logo-one">
                <img src="../public/images/set-logo.png" alt="Set logo" width="380px;" height="150px;" id="logo">
            </div>
        </div>
    </div>
    <div class="row confirmation justify-content-center" id="success-message">
        <div class="col">
            <p id="success-text">Your payment is all SET! Login with Google to access your Premium Dashboard, and start creating goals!</p>
            <button type="button" class="btn btn-dark btn-lg justify-content-center" id="google-button" href="/google">
                <img src="../public/images/googleIcon.png" style="float:left;width:2em; height:1.5em; margin-right:0.3em; margin-top:0.55em">
                <a class="nav-link active" href="/google">Sign in with Google</a>
            </button>
        </div>
    </div>

</div>