html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding: 0;
}


/* INDEX HOME PAGE */
#first-background {
  background-image: url("../images/background-long.png");
  z-index: -2;
  background-size: 100%;
  /* background-repeat: no-repeat; */
}

#third-background {
  background: rgb(66,173,118);
  background: linear-gradient(219deg, rgba(66, 173, 118, .8) 0%, rgba(49, 193, 203, .8) 100%);
  /* background-size: 75%; */
  /* background-repeat: no-repeat; */
  height: 550px;
  box-shadow: 0 0px 8px 5px rgba(0, 0, 0, 0.377);
}
.p, .text-center{
  margin-bottom: 30px;
  font-size: 20px;
}

#house{
 width: 60%; 
 height: auto;
 margin: 8px auto 55px 35px;
}
#money{
  width: 40%; 
  height: auto;
  margin: 10px auto 55px 55px;
 }
 #plane{
  width: 40%; 
  height: auto;
  margin: 20px auto 55px 55px;
 }
 #weight{
  width: 50%; 
  height: auto;
  margin: 115px auto 55px 45px;
 }

.one {
  margin-right: 10px;
  margin-top: 80px;
  color: darkslategray;
}

.two {
  margin-left: 5px;
  margin-top: 80px;
  color: darkslategray;
}

.three {
  margin-left: 5px;
  margin-top: 80px;
  color: darkslategray;
}

.four {
  margin-left: 5px;
  color: darkslategray;
  /* margin-top: 60px; */
}

#logo {
  margin-top: 70px;
  margin-bottom: 15px;
}

.prices {
  height: 200px;
}

/* #second-background {
  box-shadow: 0px 0px 2px 0px;
  height: 100%;
  width: 80%;
  /* background-image: url(../image); */
  margin: auto;
  padding: 60px;
  z-index: 2px;
} */
p{
  padding: 10px;
  margin-top: -40px;
}
.description {
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 10px 10px 10px 10px;
  height: 70%;
  margin-top: 10px;
}
#list{
  list-style-type: none;
  margin-top: 30px;
  margin-left: 15px; 
  padding: 10px;
  color: darkslategray;
}
#list, li{
  line-height: 30px;
}
#x{
  width: 20px;
  height: auto;
  margin-right: 10px;
}
#checkmark{
  width: 20px;
  height: auto;
  margin-right: 10px;
}
#basic-account-area {
  width: 500px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5%;
  margin: 60px;
  background: rgb(100,141,223);
  background: linear-gradient(114deg, rgba(100,141,223,1) 0%, rgba(151,181,242,1) 100%);
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.226);
  height: 70%;
  border-radius: 10px 10px 10px 10px;
}

#basic {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto 10px auto;
  color: white;
}

#basic-account {
  position: relative;
  color: white;
}

#premium-account-area {
  width: 500px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5%;
  margin: 60px;
  background: rgb(122,46,185);
  background: linear-gradient(219deg, rgba(122,46,185,1) 0%, rgba(185,133,244,1) 100%);
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.226);
  height: 70%;
  border-radius: 10px 10px 10px 10px;
}

#premium {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto 10px auto;
  color: white;
}

#premium-account {
  position: relative;
  color: white;
}


.deadline {
  margin: 10px;
  margin-right: 8px;
}

/* END OF INDEX */


/* DASHBOARD.HANDLEBARS */

#dashboard-container {
  /* background: rgb(230, 229, 229); */
  height: 100%;
  /* background: linear-gradient(7deg, rgba(230, 229, 229, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(229, 229, 231, 1) 100%); */
}

/* NAV */
#nav-dash {
  background: rgb(39, 39, 39);
  color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.24), -5px 0px 20px 5px rgba(0, 0, 0, 0.267);
}

#nav-link {
  margin: 1px 50px auto auto;
}

#nav-logo {
  max-width: 8%;
  margin: 2px auto 2px 55px;
  display: inline;
}

/* END OF NAV */

/* WELCOME NAME OF USER */

#welcome-sign {
  font-size: 20px;
  margin: 25px 8px 20px 80px;
}

#username-sign {
  font-size: 20px;
  margin-top: 25px;
}

/* ADD NEW GOAL BUTTON */
#add-goal-button {
  margin: 25px auto 20px 25px;
  background-color: rgb(112, 205, 227);
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.062);
  color: white;
  border: none;
  font-weight: bold;
}

/* Accordion */
#overflow {
  height: 600px;
  width: 900px;
  overflow-y: scroll;   
  margin-left: 70px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
#headingOne{
  margin: 5px;
  height: 65px;
  background-color: rgb(183, 85, 202);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.185);
}
.mt-3{
  border: none;
}
.mb-0{
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
#goal-btn{
  font-size: 20px;
  /* font-weight: bold; */
  margin-top: -30px;
  color: white;
}
.card-body{
  height: 180px;
  width: auto;
}
.progress{
  height: 2px;
  color: rgb(112, 205, 227);
}


/* MILESTONE CHECKLIST */
#milestone-list{
  margin-left: 15px;
  overflow-y: scroll;
}

#milestone-header {
	font-size: 15px;
    color: rgb(232, 80, 62);
   }

#milestone-input {
  /* padding-top: 30px; */
  width:400px;
  height: 25px;
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: -10px;
}


#milestone-input:focus {
  outline: none;
}
#list{
  margin-left: 12px;
  margin-top: 5px;
}
#myLi {
  text-align: left;
  font-size: 15px;
  list-style: none;
  margin: 2px;
  background-color: rgba(211, 211, 211, 0.514);
  padding: 1px;
}

#myLi:hover {
  text-decoration: line-through;
}

/* /////////////////////////////////// */

/* CHALLENGE OF THE DAY */
#challenge-title {
  font-size: 35px;
  font-weight: bold;
}

hr {
  width: 80%;
  /* border: 15px none; */
  border-width: 5px;
  margin: -25px auto 15px auto !important;
}

#challenge-area {
  /* background: rgb(217,222,222); */
  background: rgba(60, 216, 156, 0.678);
  width: 80%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.062);
  margin: 1px 15px auto 180px;
}

#challenge-info {
  margin-top: -15px;
}

#daily-challenge {
  margin-left: 22%;
  margin-top: -5%;
}

#image-challenge {
  width: 50%;
  height: auto;
  margin-left: 24%;
  border: solid 1px lightgray;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.144);
}

/* CHECKBOX STYLE: from challenge of the day  */
.container {
  display: block;
  position: relative;
  padding-left: 175px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 150px;
  height: 18px;
  width: 18px;
  background-color: rgb(146, 145, 145);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: teal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* END OF CHECKBOX STYLE */



/* FOOTER */
#footer-dash {
  /* margin-top: 50px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -7%;
}

#footer-index {
  width: 100%;
  left: 0;
  bottom: 0;
}

#social-media-links {
  margin-left: 30px;
  margin-bottom: 10px;
}

.fab {
  padding: 2px;
  border-radius: 8px;
  font-size: 28px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px 10px;
}

.fab:hover {
  opacity: 0.7;
}

.fa-github-square {
  background: rgb(129, 1, 129);
  color: white;
}

.fa-facebook-square {
  background: #3B5998;
  color: white;
}

.fa-twitter-square {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #ea4c89;
  color: white;
}

#copyright {
  margin-left: 30%;
  margin-bottom: 30px;
}

#about-terms {
  float: right;
  margin-right: 45px;
}